*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*-------------------------------------------variables------------------------------------------------------------------------*/
html,
body {
  height: 100%;
  line-height: 1.6;
  background: #FFFFFF;
  font-size: 16px;
  color: #1A0A03;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

[class*="__container"] {
  max-width: 1179px;
  margin: 0 auto;
  padding: 0 15px;
}

/*-------------------------------adaptivValue----------------------------------------------------------------------*/
/*----------------------------------------------------Header-----------------------------------------------------------------------------*/
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 99px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__logo {
  z-index: 2;
}

@media (min-width: 940px) {
  .header__logo {
    padding-bottom: 8px;
    padding-right: 101px;
  }
}

.header__menu {
  /*padding-right: 477px;
        @media (max-width: 1200px){
            padding-right: 477/2*1px;
              
        }*/
}

.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
  min-width: 59px;
  background-color: #EE5514;
  padding: 15px 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__button:hover {
  color: #EE5514;
  background-color: #FFFFFF;
}

@media (min-width: 940px) {
  .menu__nav-bar {
    width: 332px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 17px;
}

.menu__link {
  display: inline-block;
  opacity: 0.7;
  color: #FFFFFF;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.menu__link:hover {
  color: #EE5514;
}

@media (min-width: 940px) {
  .menu__link {
    color: inherit;
  }
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 477px;
}

@media (max-width: 1200px) {
  .menu__body {
    gap: 265px;
  }
}

/*---------------------------------------------------------------------------------menu-burger----------------------------------------------------------------------------------*/
@media (max-width: 939.97px) {
  .header__button {
    max-width: 160px;
  }
}

.header__logo ._fillWhite {
  fill: #FFFFFF;
}

.header__container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__icon {
  display: none;
}

@media (max-width: 939.97px) {
  .menu__icon {
    z-index: 1000;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon span, .menu__icon::after, .menu__icon::before {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #EE5514;
  }
  .menu__icon::after, .menu__icon::before {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0, -50%);
            transform: scale(1) translate(0, -50%);
  }
  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0, -50%);
            transform: scale(0) translate(0, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0, -50%);
            transform: rotate(-45deg) translate(0, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0, 50%);
            transform: rotate(45deg) translate(0, 50%);
  }
}

@media (max-width: 939.97px) {
  .menu__body {
    gap: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 100px 30px 30px 30px;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    left: -100%;
    overflow: auto;
  }
  .menu__body ::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 99px;
    width: 100%;
    z-index: 3;
  }
}

.menu__body._active {
  left: 0;
}

.menu__body._active ::before {
  background-color: #1A0A03;
}

@media (max-width: 939.97px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
    font-size: 24px;
    padding-bottom: 30px;
  }
}
