*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*-------------------------------------------variables------------------------------------------------------------------------*/
html,
body {
  height: 100%;
  line-height: 1.6;
  background: #FFFFFF;
  font-size: 16px;
  color: #1A0A03;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

[class*="__container"] {
  max-width: 1179px;
  margin: 0 auto;
  padding: 0 15px;
}

/*-------------------------------adaptivValue----------------------------------------------------------------------*/
/*-------------------------------------------------BEM--------------------------------------------------------------------*/
.button {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
  min-width: 59px;
  background-color: #EE5514;
  padding: 15px 30px;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button:hover {
  color: #EE5514;
  background-color: #FFFFFF;
}

.ephigraf {
  font-family: "Source Serif Pro", serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 1.2px;
  color: #EE5514;
}

.title {
  font-family: "Source Serif Pro", serif;
  font-weight: 600;
  font-size: 44px;
  line-height: 1.3;
}

.text {
  font-weight: 400;
  opacity: 0.7;
}

/*----------------------------------------------------Header-----------------------------------------------------------------------------*/
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 99px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__logo {
  z-index: 100;
}

@media (min-width: 940px) {
  .header__logo {
    padding-bottom: 8px;
    padding-right: 101px;
  }
}

.header__menu {
  /*padding-right: 477px;
        @media (max-width: 1200px){
            padding-right: 477/2*1px;
              
        }*/
}

.header__button {
  position: relative;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
  min-width: 59px;
  background-color: #EE5514;
  padding: 15px 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__button:hover {
  color: #EE5514;
  background-color: #FFFFFF;
}

.menu__nav-bar {
  position: relative;
  z-index: 2;
}

@media (min-width: 940px) {
  .menu__nav-bar {
    width: 332px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 17px;
}

.menu__link {
  display: inline-block;
  opacity: 0.7;
  color: #FFFFFF;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.menu__link:hover {
  color: #EE5514;
}

@media (min-width: 940px) {
  .menu__link {
    color: inherit;
  }
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 477px;
}

@media (max-width: 1200px) {
  .menu__body {
    gap: 238.5px;
  }
}

/*---------------------------------------------------------------------------------menu-burger----------------------------------------------------------------------------------*/
@media (max-width: 939.97px) {
  .header__button {
    max-width: 160px;
  }
}

.header__logo ._fillWhite {
  fill: #FFFFFF;
}

@media (max-width: 939.97px) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu__icon {
  position: relative;
  z-index: 100;
  display: none;
}

@media (max-width: 939.97px) {
  .menu__icon {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon span, .menu__icon::after, .menu__icon::before {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #EE5514;
  }
  .menu__icon::after, .menu__icon::before {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0, -50%);
            transform: scale(1) translate(0, -50%);
  }
  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0, -50%);
            transform: scale(0) translate(0, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0, -50%);
            transform: rotate(-45deg) translate(0, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0, 50%);
            transform: rotate(45deg) translate(0, 50%);
  }
}

@media (max-width: 939.97px) {
  .menu__body {
    gap: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 100px 30px 30px 30px;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    left: -100%;
    overflow: auto;
  }
}

.menu__body._active {
  z-index: 10;
  left: 0;
}

.menu__body._active ::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 99px;
  width: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.9);
}

@media (max-width: 939.97px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 40px;
    font-size: 24px;
    padding-bottom: 30px;
  }
}

/*------------------------------------Main------------------------------------------------------------------------------------------*/
.page__main {
  position: relative;
  padding-top: 131px;
  padding-bottom: 117px;
}

@media (max-width: 1099.97px) {
  .page__main {
    padding-bottom: calc(30px + 87 * ((100vw - 320px) / 850));
  }
}

@media (min-width: 1100px) {
  .main__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 149px;
  }
}

.main__color {
  z-index: 1;
}

@media (max-width: 943.97px) {
  .main__color {
    display: none;
  }
}

@media (min-width: 944px) {
  .main__color {
    position: absolute;
    top: 0;
  }
}

.main__text-content {
  padding-top: 74px;
}

@media (max-width: 1099.97px) {
  .main__text-content {
    padding-top: calc(0px + 74 * ((100vw - 320px) / 850));
  }
}

.main__text-content *:not(:last-child) {
  margin-bottom: 20px;
}

@media (min-width: 1100px) {
  .main__text-content {
    max-width: 366px;
  }
}

@media (max-width: 1099.97px) {
  .main__text-content {
    text-align: center;
  }
}

.main__body-slider {
  width: 625px;
}

@media (max-width: 1099.97px) {
  .main__body-slider {
    margin: 0 auto;
  }
}

@media (max-width: 749.97px) {
  .main__body-slider {
    width: calc(290px + 335 * ((100vw - 320px) / 850));
  }
}

@media (min-width: 944px) {
  .main__slider {
    position: relative;
    z-index: 3;
  }
}

.main__slider .swiper-button-next.swiper-button-disabled, .main__slider .swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}

.main__body {
  position: relative;
  padding: 0 0 64% 0;
}

.main__body img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.text-content__title {
  font-family: "Source Serif Pro", serif;
  font-weight: 600;
  font-size: 61px;
  line-height: 1.2;
}

@media (min-width: 944px) {
  .text-content__title {
    position: relative;
    z-index: 3;
  }
}

.text-content__title span {
  color: #EE5514;
}

@media (max-width: 1099.97px) {
  .text-content__title {
    font-size: calc(40.66667px + 20.33333 * ((100vw - 320px) / 850));
  }
}

.text-content__text {
  opacity: 0.7;
}

@media (min-width: 944px) {
  .text-content__text {
    position: relative;
    z-index: 3;
  }
}

@media (max-width: 1099.97px) {
  .text-content__text {
    margin-bottom: 20px;
  }
}

@media (max-width: 1099.97px) {
  .text-content__text {
    font-size: calc(14px + 2 * ((100vw - 320px) / 850));
  }
}

.swiper-button-next, .swiper-button-prev {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: #1A0A03;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
  color: #EE5514;
}

@media (max-width: 1099.97px) {
  .swiper-button-next, .swiper-button-prev {
    width: calc(30px + 40 * ((100vw - 320px) / 850));
    height: calc(30px + 40 * ((100vw - 320px) / 850));
  }
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 24.89px;
  font-weight: 800;
}

@media (max-width: 1099.97px) {
  .swiper-button-next:after, .swiper-button-prev:after {
    font-size: calc(16px + 8.89 * ((100vw - 320px) / 850));
    font-weight: calc(600px + 200 * ((100vw - 320px) / 850));
  }
}

/*-------------------------------------filter--------------------------------------------------------------*/
.page__filter {
  padding-bottom: 140px;
  margin-top: -76px;
}

@media (max-width: 1099.97px) {
  .page__filter {
    padding-bottom: calc(30px + 110 * ((100vw - 320px) / 850));
    margin-top: calc(0px + -76 * ((100vw - 320px) / 850));
  }
}

.filter__body {
  position: relative;
  z-index: 3;
  max-width: 792px;
  min-height: 125px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 14px rgba(26, 10, 3, 0.05);
          box-shadow: 0px 1px 14px rgba(26, 10, 3, 0.05);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 767.97px) {
  .filter__items {
    margin-bottom: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: calc(20px + 50 * ((100vw - 320px) / 850));
  }
}

.filter__item {
  min-width: 76px;
}

.item-filter__text:not(:last-child) {
  margin-bottom: 5px;
}

.select-filter {
  position: relative;
}

.select-filter__header {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 35px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.select-filter__header:hover {
  -webkit-text-decoration: 3px underline #EE5514;
          text-decoration: 3px underline #EE5514;
}

.select-filter__current {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 18px;
  font-weight: 500;
}

.select-filter__arrow svg {
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  -webkit-transform: translateY(-100%) rotate(0);
          transform: translateY(-100%) rotate(0);
}

.select-filter__items {
  -webkit-box-shadow: 0px 1px 14px rgba(199, 71, 16, 0.2);
          box-shadow: 0px 1px 14px rgba(199, 71, 16, 0.2);
  max-height: 100px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: none;
}

.select-filter ::-webkit-scrollbar {
  width: 8px;
}

.select-filter ::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 8px;
}

.select-filter ::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #EE5514;
}

.select-filter__item {
  cursor: pointer;
  padding: 12px 12px 12px 0;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.select-filter__item:hover {
  background-color: #f2f2f2;
}

.select-filter._open .select-filter__items {
  display: block;
  position: relative;
}

.select-filter._rotate .select-filter__arrow svg {
  -webkit-transform: translateY(-100%) rotate(-180deg);
          transform: translateY(-100%) rotate(-180deg);
}

/*---------------------------------video-----------------------------------------------------------*/
.page__video {
  padding-bottom: 100px;
}

@media (max-width: 944.97px) {
  .page__video {
    padding-bottom: calc(30px + 110 * ((100vw - 320px) / 850));
  }
}

.video__container {
  min-height: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

@media (max-width: 944.97px) {
  .video__container {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.video__contant *:not(:last-child) {
  margin-bottom: 20px;
}

@media (min-width: 945px) {
  .video__contant {
    max-width: 340px;
    padding-top: 64px;
  }
}

@media (max-width: 944.97px) {
  .video__ephigraf {
    font-size: calc(18px + 2 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 944.97px) {
  .video__title {
    font-size: calc(30px + 14 * ((100vw - 320px) / 850));
  }
}

.video__text {
  font-weight: 400;
  opacity: 0.7;
}

@media (max-width: 944.97px) {
  .video__text {
    font-size: calc(14px + 2 * ((100vw - 320px) / 850));
  }
}

.video__body {
  position: relative;
  max-width: 555px;
  max-height: 326px;
}

.video__movie {
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

@media (min-width: 945px) {
  .video__movie {
    -webkit-transform: translateY(54px);
            transform: translateY(54px);
    position: relative;
    z-index: 3;
  }
}

.video__image {
  display: none;
}

@media (min-width: 945px) {
  .video__image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  .video__image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
}

/*----------------------------------------------feature------------------------------------------------------------------------------------*/
.page__feature {
  padding-bottom: 140px;
}

.feature__top {
  text-align: center;
}

.feature__top *:not(:last-child) {
  margin-bottom: 10px;
}

.feature__top:not(:last-child) {
  margin-bottom: 60px;
}

.feature__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(290px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feature__item {
  display: inline-block;
  padding: 56px 60px;
  text-align: center;
  -webkit-box-shadow: 0px 1px 30px rgba(26, 10, 3, 0.05);
          box-shadow: 0px 1px 30px rgba(26, 10, 3, 0.05);
  border-radius: 10px;
}

.feature__item:hover {
  background: -webkit-gradient(linear, left top, right top, color-stop(1.14%, rgba(238, 85, 20, 0.1)), color-stop(133.88%, rgba(238, 85, 20, 0)));
  background: linear-gradient(90deg, rgba(238, 85, 20, 0.1) 1.14%, rgba(238, 85, 20, 0) 133.88%);
}

.item-feature__icons {
  position: relative;
  min-height: 140px;
}

.item-feature__icons:not(:last-child) {
  margin-bottom: 38px;
}

.item-feature__icons::after {
  content: url("../images/feature/Ellipse.svg");
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.item-feature__icon {
  min-height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-feature__title {
  font-size: 22px;
}

.item-feature__title:not(:last-child) {
  margin-bottom: 10px;
}

.item-feature__text {
  font-size: 14px;
}

.item-feature__text:not(:last-child) {
  margin-bottom: 20px;
}

.item-feature__link {
  font-weight: 500;
  color: #EE5514;
}

.item-feature__link::after {
  content: url("../images/feature/arrow.svg");
  margin-left: 10px;
}

.item-feature__link:hover {
  -webkit-text-decoration: 1px underline #1A0A03;
          text-decoration: 1px underline #1A0A03;
}

/*------------------------------------------------gallary--------------------------------------------------------------------------------------------*/
.page__gallary {
  padding-bottom: 140px;
}

.gallary__container {
  position: relative;
}

.gallary__top:not(:last-child) {
  margin-bottom: 60px;
}

@media (min-width: 768px) {
  .gallary__slider {
    position: static;
  }
  .gallary__slider .swiper-button-next.swiper-button-disabled, .gallary__slider .swiper-button-prev.swiper-button-disabled {
    opacity: 0.8;
  }
  .gallary__slider .swiper-button-next,
  .gallary__slider .swiper-button-prev {
    position: absolute;
    top: 104px;
    left: 1090px;
  }
}

@media (min-width: 768px) and (max-width: 1199.97px) {
  .gallary__slider .swiper-button-next,
  .gallary__slider .swiper-button-prev {
    left: calc(250px + 840 * ((100vw - 320px) / 850));
  }
}

@media (min-width: 768px) {
  .gallary__slider .swiper-button-next, .gallary__slider .swiper-button-prev {
    width: 50px;
    height: 50px;
  }
  .gallary__slider .swiper-button-next:after, .gallary__slider .swiper-button-prev:after {
    font-size: 16px;
  }
  .gallary__slider .swiper-button-prev {
    left: 990px;
  }
}

@media (min-width: 768px) and (max-width: 1199.97px) {
  .gallary__slider .swiper-button-prev {
    left: calc(200px + 790 * ((100vw - 320px) / 850));
  }
}

.top-gallary__ephigraf:not(:last-child) {
  margin-bottom: 13px;
}

.top-gallary__title:not(:last-child) {
  margin-bottom: 16px;
}

.top-gallary__categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 35px;
          column-gap: 35px;
  row-gap: 10px;
}

.categories-gallary__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.categories-gallary__link {
  color: inherit;
  line-height: 1.4;
}

.categories-gallary__link span {
  font-size: 18px;
  font-weight: 500;
  position: relative;
  color: #EE5514;
  letter-spacing: 0.05em;
}

.categories-gallary__link span::after {
  content: '';
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 47px;
  height: 1px;
  background-color: #EE5514;
  text-align: center;
}

.slide-gallary__body-img {
  margin-bottom: 30px;
}

.slide-gallary__image {
  position: relative;
  padding: 0 0 64.15% 0;
}

.slide-gallary__link img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide-gallary__contant *:not(:last-child) {
  margin-bottom: 10px;
}

.slide-gallary__title {
  font-size: 22px;
}

.slide-gallary__table {
  min-width: 160px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(34px, 56px) minmax(37px, 85px);
      grid-template-columns: minmax(34px, 56px) minmax(37px, 85px);
}

.slide-gallary__table.text {
  opacity: 1;
}

.slide-gallary__button {
  font-size: 16px;
}

.table-slide__label {
  opacity: 0.7;
}

.table-slide__value {
  opacity: 0.8;
  font-weight: 500;
}

/*---------------------------------------testimonials-------------------------------------------------------------------------------*/
.page__testimonials {
  padding-bottom: 140px;
}

.testimonials__top:not(:last-child) {
  margin-bottom: 60px;
}

@media (min-width: 768px) {
  .testimonials__sliders {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .testimonials__image {
    max-width: 555px;
  }
  .testimonials__image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 10px;
  }
}

@media (max-width: 767.97px) {
  .testimonials__image {
    display: none;
  }
}

@media (min-width: 768px) {
  .testimonials__slider {
    width: 458px;
  }
}

.testimonials__slider .swiper-button-next,
.testimonials__slider .swiper-button-prev {
  /*@media (min-width:768px){
                left: 408px;  
            }
            @media (max-width: 767.97px){
                @include adaptivValue(left, 780 , 240 );
            }*/
}

.testimonials__slider .swiper-button-next, .testimonials__slider .swiper-button-prev {
  width: 50px;
  height: 50px;
}

.testimonials__slider .swiper-button-next:after, .testimonials__slider .swiper-button-prev:after {
  font-size: 16px;
}

.testimonials__slider .swiper-button-prev {
  /* @media (min-width:768px){
                left: 308px; 
            }
            left: 600px;
            @media (max-width: 766.97px){
                @include adaptivValue(left, 600 , 170 );
          }*/
}

.top-testimonials__title {
  text-align: center;
}

.slide-testimonials__body-buttons {
  position: absolute;
  width: 150px;
  height: 50px;
  top: 0;
  left: 67.72%;
}

@media (max-width: 767.97px) {
  .slide-testimonials__body-buttons {
    left: 70%;
  }
}

@media (max-width: 532.97px) {
  .slide-testimonials__body-buttons {
    left: 50%;
  }
}

.slide-testimonials__image:not(:last-child) {
  margin-bottom: 70px;
}

.slide-testimonials__image img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 1px solid #EE5514;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.slide-testimonials__title {
  font-size: 22px;
  line-height: 1.5;
  position: relative;
}

.slide-testimonials__title:not(:last-child) {
  margin-bottom: 15px;
}

.slide-testimonials__title::before {
  content: url("../images/testimonials/b.svg");
  position: absolute;
  top: 0;
  top: -36px;
  left: 0;
}

.slide-testimonials__blockquote {
  font-size: 14px;
}

.slide-testimonials__blockquote:not(:last-child) {
  margin-bottom: 25px;
}

.slide-testimonials__name {
  font-weight: 500;
  font-size: 18px;
}

.slide-testimonials__name:not(:last-child) {
  margin-bottom: 9px;
}

.slide-testimonials__ephigraf {
  margin-bottom: 8px;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------*/
.page__sing {
  padding-bottom: 100px;
  padding-bottom: calc(20px + 80 * ((100vw - 320px) / 850));
}

.sing__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

@media (max-width: 767.97px) {
  .sing__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.sing__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.sing__contant {
  max-width: 528px;
  padding-top: 63px;
}

.sing__title {
  font-size: 31px;
  line-height: 1.4;
}

.sing__title:not(:last-child) {
  margin-bottom: 20px;
}

.sing__text {
  font-size: 18px;
}

.sing__text:not(:last-child) {
  margin-bottom: 40px;
}

.label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.label__input {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  padding: 0 0 0 26px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px 0 0 5px;
}

.label__button {
  border-radius: 0px 5px 5px 0px;
}

/*----------------------------------------------------------------footer-----------------------------------------------------------------------------------------------*/
.footer__top {
  font-size: 18px;
  color: #1A0A03;
  padding-bottom: 20px;
}

@media (max-width: 800.97px) {
  .footer__top {
    position: relative;
    padding-top: 50px;
  }
}

@media (min-width: 801px) {
  .footer__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer__body {
  padding: 20px 0;
}

.footer__images {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.item-footer__title {
  font-size: 18px;
  width: 100%;
  text-align: left;
  background-color: transparent;
  position: relative;
  padding: 10px 10px 31px 0;
}

@media (min-width: 801px) {
  .item-footer__title_1 {
    display: none;
  }
}

.item-footer__menu {
  display: -ms-grid;
  display: grid;
}

.menu-footer *:not(:last-child) {
  margin-bottom: 10px;
}

.menu-footer:not(:last-child) {
  margin-bottom: 10px;
}

@media (min-width: 972px) {
  .menu-footer__item_1 {
    max-width: 247px;
  }
}

.menu-footer__link {
  color: inherit;
  opacity: 0.7;
}

.menu-footer__link:hover {
  color: #EE5514;
}

.menu-footer__link_img {
  opacity: 1;
  /* @media (max-width: 800.97px){
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
            }*/
}

@media (max-width: 800.97px) {
  .menu-footer__link_img {
    display: none;
  }
}

.sociall-footer {
  margin-top: 20px;
  max-width: 155px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sociall-footer__item {
  color: inherit;
}

@media (min-width: 972px) {
  .item-footer__label {
    max-width: 320px;
  }
}

.footer__items._init .item-footer__title {
  cursor: pointer;
}

.footer__items._init .item-footer__title {
  padding: 10px 40px 10px 0px;
}

.footer__items._init .item-footer__title::before,
.footer__items._init .item-footer__title::after {
  content: "";
  width: 20px;
  height: 1px;
  background-color: #EE5514;
  position: absolute;
  right: 10px;
  top: 20px;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.footer__items._init .item-footer__title::after {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.footer__items._init .item-footer__title._spoller-active::after {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.footer__bottom {
  padding-bottom: 10px;
  text-align: center;
}

.bottom-footer__text {
  font-weight: 500;
  orphans: 0.7;
}
