*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;

}
ul,
ol,
li{
    list-style: none;
}
img{
    vertical-align: top;

}
h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: inherit;
    font-size: inherit;
}
html,
body{
    height: 100%;
    line-height: 1.56;
    background: #FFFFFF;
    font-size: 18px;
    color: #6B7280;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
[class*="__container"]{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

/*-------------------------------adaptivValue----------------------------------------------------------------------*/                                 
@mixin adaptivValue ($property, $stratSize, $miniSize){
    $addSize: $stratSize - $miniSize;
    #{$property}: calc(#{$miniSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
}

/*-------------------------------------------variables------------------------------------------------------------------------*/

$maxWidth: 1170;
$Orange: #EE5514;
$Black: #1A0A03;
$SourceSerifPro: 'Source Serif Pro', serif;



.h1{
    font-family: $SourceSerifPro;
}