*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;

}
ul,
ol,
li{
    list-style: none;
}
img{
    vertical-align: top;

}
h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: inherit;
    font-size: inherit;
}
/*-------------------------------------------variables------------------------------------------------------------------------*/

$maxWidth: 1170;
$Orange: #EE5514;
$Black: #1A0A03;
$White: #FFFFFF;
$SourceSerifPro: 'Source Serif Pro', serif;


html,
body{
    height: 100%;
    line-height: 1.6;
    background: #FFFFFF;
    font-size: 16px;
    color: $Black;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
[class*="__container"]{
    max-width: 1179px;
    margin: 0 auto;
    padding: 0 15px;
}

/*-------------------------------adaptivValue----------------------------------------------------------------------*/                                 
@mixin adaptivValue ($property, $stratSize, $miniSize){
    $addSize: $stratSize - $miniSize;
    #{$property}: calc(#{$miniSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
}




/*----------------------------------------------------Header-----------------------------------------------------------------------------*/
.header {

    &__container {
        display: flex;
        align-items: flex-end;
        
        min-height: 99px;
    }

    &__logo {
        padding-bottom: 8px;
        padding-right: 101px;
        @media (max-width: 1200px){
            @include adaptivValue(padding-right, 101 , 20 );
              
        }
     
    }

    &__menu {
        padding-bottom: 17px;
        padding-right: 477px;
        @media (max-width: 1200px){
            padding-right: 477/2*1px;
              
        }
    }

    &__button {
        font-weight: 500;
        font-size: 18px;
        color: $White;
        min-width: 59px;
        background-color: $Orange;
        padding: 15px 30px;
        transition: all 0.3s ease 0s;
        &:hover{
            color: $Orange;
            background-color: $White;
        }
    }
}
.menu {

    &__nav-bar {
        width: 332px;
        
    }

    &__list {
        
        display: flex;
        justify-content: space-between;
    }

    &__item {

    }

    &__link {
        
        opacity: 0.7;
        color: inherit;
        transition: color 0.3s ease 0s;;
        &:hover{
            color: $Orange;
        }
    }
}
